<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [ngClass]="{'bg-black': isScrollingDown}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/logo.jpg"
        alt="Rail Art Logo"
        height="40"
        class="d-inline-block align-middle"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#railArtNavbarContent"
      aria-controls="railArtNavbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="railArtNavbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 list-group list-group-horizontal">
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/" aria-label="Homepage" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/products" aria-label="Product page" (click)="closeNavbar()">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/contact" aria-label="Contact page" (click)="closeNavbar()">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/about" aria-label="About page" (click)="closeNavbar()">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/service" aria-label="Service page" (click)="closeNavbar()">Services</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
