<nav
    id="navScroll"
    class="navbar navbar-dark bg-black fixed-top px-vw-5"
    tabindex="0"
  >
    <div class="container">
      <a
        class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center"
        href="/"
      >
        <img
          src="assets/logo.jpg"
          alt="Rail Art Logo"
          height="40"
          class="d-inline-block align-middle"
        />
      </a>

      <ul
        class="navbar-nav mx-auto mb-2 mb-lg-0 list-group list-group-horizontal"
      >
        <li class="nav-item">
          <a class="nav-link fs-5"  routerLink="/" aria-label="Homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/products" aria-label="Product page">
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/contact" aria-label="contact page">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/about" aria-label="about page">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/service" aria-label="service page">
            Services
          </a>
        </li>
      </ul>
    </div>
  </nav>