<div class="bg-black border-top border-dark">
    <div class="container py-vh-4 text-secondary fw-lighter">
      <div class="row">
        <!-- Logo and Description Section -->
        <div class="col-12 col-lg-4 py-4 text-center text-lg-start">
          <a class="navbar-brand pe-md-4 fs-4 mb-3 d-block" href="/">
            <img
              src="assets/logo.jpg"
              alt="Rail Art Logo"
              height="40"
              class="d-inline-block align-middle"
            />
          </a>
          <p class="text-secondary mt-3">
            Transforming spaces with innovative rail art solutions. Your trusted partner in premium architectural elements.
          </p>
          
          <!-- Social Media Icons -->
          <div class="social-media mt-3">
            <h6 class="text-white mb-2">Follow Us</h6>
            <div class="d-flex">
              <a href="https://facebook.com/railart" target="_blank" class="social-icon me-3" aria-label="Visit Rail Art on Facebook">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://instagram.com/railart" target="_blank" class="social-icon me-3" aria-label="Visit Rail Art on Instagram">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="https://wa.me/917359993301" target="_blank" class="social-icon" aria-label="Contact Rail Art on WhatsApp">
                <i class="bi bi-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Quick Links Section -->
        <div class="col-12 col-lg-4 py-4 pl-3">
          <h5 class="text-white mb-3">Quick Links</h5>
          <div class="row">
            <div class="col-6">
              <ul class="nav flex-column">
                <li class="nav-item mb-2 ml-4">
                  <a href="/" class="link-fancy link-fancy-light">Home</a>
                </li>
                <li class="nav-item mb-2 ml-4">
                  <a href="/products" class="link-fancy link-fancy-light">Products</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="/about" class="link-fancy link-fancy-light">About Us</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="/contact" class="link-fancy link-fancy-light">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Contact Information Section -->
        <div class="col-12 col-lg-4 py-4">
          <h5 class="text-white mb-3">Contact Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 d-flex align-items-center">
              <i class="bi bi-geo-alt me-2"></i>
              <span>Hasanwadi, Sahkar Main Rd, <br>
                Trishul Chowk, <br>
                Narayan Nagar Society, <br>
                Bhakti Nagar, <br>
                Rajkot, Gujarat 360002</span>
            </li>
            <li class="nav-item mb-2 d-flex align-items-center">
              <i class="bi bi-telephone me-2"></i>
              <a href="tel:+917359993301" class="link-fancy link-fancy-light">+91 73599 93301</a>
            </li>
            <li class="nav-item mb-2 d-flex align-items-center">
              <i class="bi bi-envelope me-2"></i>
              <a href="mailto:railart2010@yahoo.in" class="link-fancy link-fancy-light">railart2010&#64;yahoo.in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center small py-vh-2 border-top border-dark">
      <span>&copy; {{currentYear}} Rail Art. All rights reserved.</span>
    </div>
</div>