<br>
<div class="bg-black py-vh-3 products-container">
  <!-- Left side - Product Categories -->
  <div class="ml-4 categories-section" [ngClass]="{ 'mb-5' : isMobileScreen}">
    <div class="categories-header d-flex justify-content-center align-items-center">
      <h2>Our Products</h2>
      <button class="mobile-toggle" (click)="toggleMobileCategories()">
        <i class="mt-2 fas" [class.fa-bars]="!isMobileCategoriesVisible" [class.fa-times]="isMobileCategoriesVisible"></i>
      </button>
    </div>
    <div class="category-list" [class.mobile-expanded]="isMobileCategoriesVisible">
      <div class="category-item" *ngFor="let category of productCategories">
        <div class="category-header neumorphic" (click)="toggleCategory(category)"
          [class.active]="isCategoryActive(category)">
          <span class="category-name" (click)="selectCategory(category.name)">{{category.name}}</span>
          <i class="fas" [class.fa-chevron-down]="category.isExpanded"
            [class.fa-chevron-right]="!category.isExpanded"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-vw-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <span class="h5 text-danger fw-lighter" data-aos="fade-down">Our Premium Collection</span>
        <div class="display-4 text-white" [ngClass]="isMobileScreen ? 'pt-3 title-text' : 'h5'" data-aos="fade-up">{{selectedCategoryName}}</div>
      </div>
    </div>

    <div class="mx-auto row g-5 mt-2" *ngIf="selectedCategoryName === 'Highlight Products'">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of highlightProductImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.name" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.name}}</h5>
            <p class="text-secondary mb-3">{{item.desc}}</p>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto row g-5" *ngIf="selectedCategoryName === 'BRACKET & COVER SYSTEM'">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of bracketAndCoverSystemImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.ProductName" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.ProductName}}</h5>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto row g-5" *ngIf="selectedCategoryName === 'CONTINUOUS SYSTEM'">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of continuousSystemImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.ProductName" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.ProductName}}</h5>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto row g-5" *ngIf="selectedCategoryName === 'BRACKET SYSTEM'">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of bracketSystemImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.ProductName" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.ProductName}}</h5>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
      <h3 class="text-danger text-center">RAILING SPIGOT</h3>
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of railingSpigotImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.ProductName" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.ProductName}}</h5>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto row g-5" *ngIf="selectedCategoryName === 'HANDRAIL & ACCESSORIES'">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100"
        *ngFor="let item of handrailAndAccessoriesImages">
        <div class="product-card bg-dark rounded-5">
          <div class="product-image">
            <img [src]="item.image" [alt]="item.ProductName" class="img-fluid rounded-top-5">
          </div>
          <div class="product-content p-4">
            <h5 class="h5 fw-lighter text-white mb-2">{{item.ProductName}}</h5>
            <a class="btn btn-outline-danger px-3 py-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="exploreProductDetail(item)">Explore More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl m-0 m-xl-auto">
    <div class="modal-content bg-black" *ngIf="exploreProduct">
      <div class="modal-header border-danger">
        <h5 class="modal-title text-white" id="exampleModalLabel">{{exploreProduct.ProductName}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-xl-flex modal-body">
        <div class="dialog-image">
          <!-- Main Image -->
          <img [src]="exploreProduct.image" [alt]="exploreProduct.ProductName" class="main-image rounded-4" [ngClass]="{'full-height': !exploreProduct.subImages}">
          
          <!-- Sub Images with Titles -->
          <div class="sub-images-grid" *ngIf="exploreProduct?.subImages?.length > 1" [ngClass]="'items-' + exploreProduct.subImages.length">
            <div class="sub-image-wrapper" *ngFor="let subImage of exploreProduct.subImages">
              <img [src]="subImage.image" 
                   [alt]="subImage.title" 
                   class="sub-image rounded-3">
              <div class="sub-image-title">{{ subImage.title }}</div>
            </div>
          </div>
        </div>
        <div class="ms-xl-3 mt-xl-2 mt-4">
          <div class="product-details" *ngIf="exploreProduct">
            <!-- Essential Details Section -->
            <div class="section-container">
              <h3 class="section-title text-danger">ESSENTIAL DETAILS</h3>
              <div class="essential-details">
                <div class="detail-row">
                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.type">
                    <span class="label">Type:</span>
                    <span class="value">{{ exploreProduct.essentialDetails.type }}</span>
                  </div>

                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.use">
                    <span class="label">Use:</span>
                    <span class="value">{{ exploreProduct.essentialDetails.use }}</span>
                  </div>

                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.material">
                    <span class="label">Material:</span>
                    <span class="value">{{ exploreProduct.essentialDetails.material }}</span>
                  </div>
                </div>

                <div class="detail-row">
                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.length">
                    <span class="label">Length:</span>
                    <ul *ngIf="exploreProduct.subCategory !== 'RAILING SPIGOT'">
                      <li *ngFor="let item of exploreProduct.essentialDetails.length">{{ item }}</li>
                    </ul>
                    <span class="value" *ngIf="exploreProduct.subCategory === 'RAILING SPIGOT'">{{ exploreProduct.essentialDetails.length }}</span>
                  </div>

                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.width">
                    <span class="label">Width:</span>
                    <ul>
                      <li *ngFor="let item of exploreProduct.essentialDetails.width">{{ item }}</li>
                    </ul>
                  </div>

                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.height">
                    <span class="label">Height:</span>
                    <span class="value">{{ exploreProduct.essentialDetails.height }}</span>
                  </div>

                  <div class="detail-item" *ngIf="exploreProduct.essentialDetails?.weight">
                    <span class="label">Weight:</span>
                    <ul>
                      <li *ngFor="let item of exploreProduct.essentialDetails?.weight">{{ item }}</li>
                    </ul>
                  </div>
                </div>

                <div class="detail-row">
                  <div class="detail-item full-width" *ngIf="exploreProduct.essentialDetails?.finish">
                    <span class="label">Finish:</span>
                    <span class="value">{{ exploreProduct.essentialDetails.finish }}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- RRL Chart Section -->
            <div class="section-container" *ngIf="exploreProduct.essentialDetails?.RRLChart">
              <h3 class="section-title text-danger">Recommended Railing Length Chart</h3>
              <div class="rrl-chart-section">
                <table class="rrl-table">
                  <tbody>
                    <tr *ngFor="let row of exploreProduct.essentialDetails?.RRLChart">
                      <td *ngFor="let cell of row; let isFirst = index" [innerHTML]="cell">
                      </td>
                    </tr>
                    <!-- Add note row that spans all columns -->
                    <tr class="note-row" *ngIf="exploreProduct.category === 'BRACKET & COVER SYSTEM' || exploreProduct.category === 'BRACKET SYSTEM'">
                      <td [attr.colspan]="exploreProduct.essentialDetails.RRLChart[0].length" class="text-center">
                        Bracket will be fitted at every 2 feet
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>